.odd {
    background-color: lightcoral;
    font-family: verdana, "dejavu sans", sans-serif;
}

.odd:nth-of-type(2) {
    font-size: 24px;
}

#two {
    color: blue;
    font-size: 36px;
}

#four {
    font-weight: bold;
    font-size: 24px;
    background-color: lightgreen;
}